html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.87);
}

#app-container {
  display: flex;
  width: 100vw;
  height: 100%;
}

#game-container {
  width: 50%;
  height: 100%;
  background-color: #2d2d2d;
  position: relative;
  border-right: 4px solid #444;
}

#blockly-container {
  width: 50%;
  height: 100%;
  background-color: #f0f0f0;
  display: block;
}

#controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  gap: 10px;
}

#run-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

#run-button:hover {
  background-color: #45a049;
}

#reset-button {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

#reset-button:hover {
  background-color: #d32f2f;
}

.blocklyToolboxCategory{
  color: #000
}